/* Reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

/* End Reset */

:root {
  /* Spacers */
  --spacer-sm: 0.5rem;
  --spacer-md: 1rem;
  --spacer-lg: 1.5rem;
  --spacer-xl: 2.25rem;
  --spacer-2xl: 3rem;
  --spacer-3xl: 4.25rem;
  --spacer-4xl: 5rem;

  --container-padding-inline: 1rem;

  --p-sm: 0.5rem;
  --p-base: 1rem;
  --p-md: 1.5rem;
  --m-base: 1rem;

  --courses-gap-block: 2.5rem;
  --courses-gap-inline: 0rem;

  /* Font Sizes */
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;
  /* Font Weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra: 800;
  /* Breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1024px;

  /* Colors */
  --grey: #83869a;
  --white: #ffffff;
  --pink-100: #ffa2c4;
  --pink-200: #f74780;
  --blue-100: #656ca7;
  --blue-200: #121840;
  /* Misc */
  --logo-size: 6rem;
}

@media (min-width: 48rem) {
  :root {
    --container-padding-inline: var(--spacer-xl);
    --courses-gap-block: var(--spacer-2xl);
    --courses-gap-inline: var(--spacer-md);
  }
}

@media (min-width: 64rem) {
  :root {
    --container-padding-inline: var(--spacer-2xl);
    --courses-gap-block: var(--spacer-4xl);
    --courses-gap-inline: 2rem;

    /* Font Sizes */
    --fs-base: 1.125rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-2xl: 3.5rem;

    /* misc */
    --logo-size: 7rem;
  }
}

/* -------------
 Page Composition
--------------*/

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  justify-self: end;
}

/* -------------
 Utilities
--------------*/

.container {
  max-width: min(100% - var(--container-padding-inline) * 2, 1200px);
  margin-inline: auto;
}

.overflow-hidden {
  overflow-x: hidden;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-md);
}
/* Colors */

/* Background Colors */

.bg-blue-100 {
  background-color: var(--blue-100);
}

.bg-blue-200 {
  background-color: var(--blue-200);
}

.bg-pink-100 {
  background-color: var(--pink-100);
}

.bg-pink-200 {
  background-color: var(--pink-200);
}

.bg-white {
  background-color: var(--white);
}

.bg-grey {
  background-color: var(--grey);
}

/* Text Colors */

.clr-grey {
  color: var(--grey);
}

.clr-white {
  color: var(--white);
}

.clr-blue-100 {
  color: var(--blue-100);
}

.clr-blue-200 {
  color: var(--blue-200);
}

.clr-pink-100 {
  color: var(--pink-100);
}

.clr-pink-200 {
  color: var(--pink-200);
}

/* Gradients */

.grad-orange-to-pink {
  background: rgb(255, 97, 60);
  background: linear-gradient(
    180deg,
    rgba(255, 97, 60, 1) 0%,
    rgba(255, 0, 167, 1) 100%
  );
}

.grad-blue-to-pink {
  background: rgb(72, 81, 255);
  background: linear-gradient(
    180deg,
    rgba(72, 81, 255, 1) 0%,
    rgba(240, 42, 166, 1) 100%
  );
}

.grad-white-to-blue {
  background: rgb(255, 255, 255);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 25%,
      rgba(241, 242, 255, 1) 80%
    )
    no-repeat;
  background-size: cover;
  /* todo: fix the gradient so it fills the whole body or at least main tag */
}

/* Text Sizes */

.text-base {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: 1.75rem;
}

.text-md {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  line-height: 1.75rem;
}

.text-lg {
  font-size: var(--fs-lg);
  font-weight: var(--fw-extra);
}

.text-xl {
  font-size: var(--fs-xl);
  font-weight: var(--fw-extra);
}

.text-2xl {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-extra);
}

/*--------
 Blocks
--------*/

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--p-base);
}

header > img {
  width: var(--logo-size);
}

/* Buttons */

.button {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 625rem;
  width: fit-content;
  /* font-weight: bold; */
}

/* Hero Section */

.hero {
  margin-block-start: var(--spacer-lg);
}

.hero p {
  max-width: 40ch;
}

.hero__image-wrapper {
  overflow: hidden;
  margin-block-start: var(--spacer-2xl);
}

.hero img {
  width: min(100%, 26rem);
  scale: 1.15;
  margin: auto;
}

@media (min-width: 48rem) {
  .hero__image-wrapper {
    overflow: unset;
  }
  .hero img {
    width: unset;
    margin: unset;
    scale: unset;
  }
}
