/* Reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

/* End Reset */

:root {
  /* Spacing */
  --sz-1: 0.25rem;
  --sz-2: 0.5rem;
  --sz-3: 0.75rem;
  --sz-4: 1rem;
  --sz-5: 1.25rem;
  --sz-6: 1.5rem;
  --sz-7: 2rem;
  --sz-8: 2.5rem;
  --sz-9: 3rem;
  --sz-10: 3.5rem;
  --sz-11: 4rem;
  --sz-12: 5rem;

  --header-pb: clamp(1rem, 0.7111rem + 1.2327vw, 1.5rem);
  --container-padding-inline: clamp(1rem, -0.4313rem + 6.1069vw, 2.5rem);
  --courses-gap-block: clamp(2.5rem, 1.055rem + 6.163vw, 5rem);
  --courses-mb-start: 0rem;
  --footer-margin-top: var(--sz-11);

  /* Sizing */
  --hero-p-max-width: 34ch;

  /* Border Radius */
  --rounded-card: 0.625rem;
  --rounded-full: 9999px;

  /* Font Sizes */
  --fs-base: clamp(
    1rem,
    0.9432rem + 0.2841vw,
    1.125rem
  ); /* 16px -> 18px; Body text and courses body text */
  --fs-md: 1.125rem; /* 18px; buttons and 'get started' links in cards */
  --fs-lg: clamp(1.25rem, 1.1364rem + 0.5682vw, 1.5rem); /* 20px -> 24px */
  --fs-xl: clamp(1.5rem, 1.2727rem + 1.1364vw, 2rem); /* 24px -> 32px */
  --fs-2xl: clamp(2.5rem, -0.5rem + 6.25vw, 3.5rem);

  /* Font Weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra: 800;

  /* Breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1024px;

  /* Colors */
  --grey: #83869a;
  --white: #ffffff;
  --pink-100: #ffa2c4;
  --pink-200: #f74780;
  --blue-100: #656ca7;
  --blue-200: #121840;

  /* Gradiants */
  --grad-white-to-blue: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(241, 242, 255, 1) 50%
  );
  --grad-orange-to-pink: linear-gradient(
    180deg,
    rgba(255, 97, 60, 1) 0%,
    rgba(255, 0, 167, 1) 100%
  );
  --grad-blue-to-pink: linear-gradient(
    180deg,
    rgba(72, 81, 255, 1) 0%,
    rgba(240, 42, 166, 1) 100%
  );
  /* Misc */
  --logo-size: clamp(5.5625rem, 4.768rem + 3.3898vw, 6.9375rem);
  --shadow-courses: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

/* -------------
 Page Composition
--------------*/

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -------------
 Utilities
--------------*/

.container {
  max-width: min(100% - var(--container-padding-inline) * 2, 1200px);
  margin-inline: auto;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: clamp(1.125rem, 0.3305rem + 3.3898vw, 2.5rem);
}

/*
====================================================
Mobile
====================================================
*/

body {
  /* Add white -> blue gradient to the body */
  background: var(--grad-white-to-blue);
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--header-pb);
}

header > img {
  width: var(--logo-size);
}

/* Buttons */

.button {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: var(--rounded-full);
  width: fit-content;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: var(--white);
}

.button[data-variant="blue"] {
  background: var(--blue-200);
}

.button[data-variant="grad-orange"] {
  background: var(--grad-orange-to-pink);
}

.button[data-variant="grad-blue"] {
  background: var(--grad-blue-to-pink);
}

/* Hero Section */

.hero {
  margin-block-start: clamp(2rem, -3.2003rem + 22.188vw, 11rem);
}

.hero h1 {
  color: var(--blue-200);
  font-size: var(--fs-2xl);
}

.hero p {
  color: var(--grey);
  max-width: var(--hero-p-max-width);
}

/*
The provided image has some built-in margin that
differes from the original design. The following
crops the image to fit the design.
*/

@media (max-width: 47.9rem) {
  .hero__image-wrapper {
    overflow: hidden;
    margin-block-start: var(--sz-10);
  }

  .hero img {
    width: min(100%, 26rem);
    scale: 1.15;
    margin: auto;
  }
}

/* Course List */

.courses {
  margin-block-start: var(--courses-mb-start);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: clamp(2.5rem, 1.0555rem + 6.1633vw, 5rem)
    clamp(0.75rem, -2.625rem + 7.0313vw, 1.875rem);
}

/* Course Items */

.courses__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
  border-radius: var(--rounded-card);
  padding: 3.5rem 1.75rem 2rem;
  background: var(--white);
  position: relative;
  box-shadow: var(--shadow-courses);
}

.courses__item img {
  position: absolute;
  top: calc(var(--sz-6) * -1);
  left: var(--sz-6);
}

.courses__item h3 {
  font-size: var(--fs-lg);
}

.courses__item p {
  /* margin-block-start: clamp(1rem, -0.5rem + 3.125vw, 1.5rem); */
  color: var(--grey);
  font-size: var(--fs-base);
}

.courses__item a {
  justify-self: end;
  display: inline-block;
  margin-block-start: auto;
  color: var(--pink-200);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

.courses__cta {
  color: var(--white);
  background: var(--grad-orange-to-pink);
  border-radius: var(--rounded-card);
  padding: 1.75rem;
}

/* Footer */

footer {
  background-color: var(--blue-200);
  margin-block-start: var(--footer-margin-top);
  justify-self: end;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}

footer .container > img {
  max-width: 5.625rem;
}

/*
====================================================
Tablet
====================================================
*/

@media (min-width: 48rem) {
  :root {
    --courses-mb-start: 13.125rem;
  }

  .hero__image-wrapper {
    /* resetting image styles on tablet+ screens */
    /* ! hiding while I figure out spacing between header, hero, and courses */
    /* display: none; */
    position: absolute;
    top: -64px;
    right: -300px;
  }
}

/*
====================================================
Desktop
====================================================
*/

@media (min-width: 60rem) {
  :root {
    --courses-mb-start: 15.625rem;
  }

  .hero__image-wrapper {
    position: absolute;
    top: -100px;
    right: -400px;
  }
}
